@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ::selection {
    @apply bg-[#FFF1DA];
  }
  
  .nav-item {
    font-family: 'Lato', sans-serif;
    @apply font-medium text-[#D0D6DB] transition-all text-[1.125rem];
  }
  
  .font-g-sans {
    font-family: 'Lato', sans-serif;
  }
  .font-g-sans-medium {
    font-family: 'Lato', sans-serif;
    @apply font-medium;
  }
  
  h1,
  h2,
  h3 {
    font-family: 'Lato', sans-serif;
    @apply text-primary;
    font-weight: bold;
  }
  
  h1 span {
    font-family: 'Lato', sans-serif;
  }
  
  .font-h1 {
    @apply text-[84px] leading-[89px] tracking-[-0.04em];
  }
  
  h1 {
    @apply text-[55px] leading-[59px] text-center md:text-left md:text-[84px] md:leading-[89px] tracking-[-0.04em];
  }
  
  h2 {
    @apply text-[40px] md:text-[50px];
  }
  

  .custom-scrollbar::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width as needed */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Change the scrollbar color on hover */
  }

  .cohort{
    background: url(./assets/svg/ChPg.svg);
  }

  ::placeholder{
    text-align: center;
    font-size: 20px;
    color: #888C91;
  }


  .toggle .line {
    transition: y 200ms ease-in 200ms, transform 200ms ease-in, opacity 0ms 200ms;
    transform-origin: center;
  }
  
  .toggle[aria-expanded="true"] .line {
    transition: y 200ms 100ms ease-in, transform 200ms ease-in 200ms, opacity 0ms 200ms;
  }
  
  .toggle[aria-expanded="true"] :is(.top, .bottom) {
    y: 45;
  }
  
  .toggle[aria-expanded="true"] .top {
    transform: rotate(45deg);
  }
  
  .toggle[aria-expanded="true"] .middle {
    opacity: 0;
  }
  
  .toggle[aria-expanded="true"] .bottom {
    transform: rotate(-45deg);
  }